<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Cow/assets/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'Cow/assets/css/font-awesome.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'Cow/assets/css/style.css' %} ">
    <!--[if lt IE 9]>
		<script src="{% static '' %} Cow/assets/js/html5shiv.min.js"></script>
		<script src="{% static '' %} Cow/assets/js/respond.min.js"></script>
	<![endif]-->
    <style>
        body{
            background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("{%static 'Cow/assets/img/farm.jpg' %}");
            background-repeat: repeat;
            background-size: cover;
            
        }
        .error{
            color: red;

        }
        .errorlist{
            color: red;
            list-style: none;
        }
        
    </style>
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box" style="background-color: rgba(250, 234, 220, 0.701);">
                    
                    {% block content %}
                        
                    {% endblock content %}
                        
                </div>
			</div>
        </div>
    </div>
    <script src="{% static 'Cow/assets/js/jquery-3.2.1.min.js' %} "></script>
	<script src="{% static 'Cow/assets/js/popper.min.js' %} "></script>
    <script src="{% static 'Cow/assets/js/bootstrap.min.js' %} "></script>
    <script src="{% static ' Cow/assets/js/app.js' %}"></script>
</body>

</html>