
{% extends 'Cow/dash_base.html' %}
{% load widget_tweaks %}

{% block title %}
<title>Add Document</title>


{% endblock title %}

{% block style %}
<style>
    .errorlist {
        color: red;
        list-style: none;
    }
</style>
{% endblock style %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Add Documets</h4>
    </div>
</div>

<div class="row" style="margin-left: auto;">
    <div class="col-md-8">
        <div class="card-box" style="background-color: rgba(250, 234, 220, 0.701);">
            <h4 class="card-title">Document Information</h4>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group m-3">
                    <label>{{fm.label}} </label>
                    {{fm|add_class:"form-control"}}
                    {{fm.errors}}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary m-3">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}