{% extends 'Cow/dash_base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
<title>Admin Profile</title>
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">My Profile</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="{% url 'Admin_update' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">
                        
                        {% if admin.profile_pic %}
                        <a href="#"><img class="avatar" src="{{admin.profile_pic.url}}" alt=""></a>
                        {% else %}
                        <a href="#"><img class="avatar" src="{% static 'Cow/assets/img/profile_photo.png' %}" alt=""></a>
                        {% endif %}
      
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">{{admin.user.first_name}} {{admin.user.last_name}}</h3>
                                <small class="text-muted">{{admin.user.username}}</small>
                                <div class="staff-id">Employee ID : SU-000{{admin.pk}}</div>
                                
                                <div class="staff-msg">
                                    
                                    {% if admin.user.is_superuser %}
                                        Supervisor
                                    {% else %}
                                    Staff
                                    {% endif %}
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Phone:</span>
                                    <span class="text">{{admin.phone}}</span>
                                </li>
                                <li>
                                    <span class="title">Email:</span>
                                    <span class="text">{{admin.user.email}}</span>
                                </li>
                                <li>
                                    <span class="title">Birthday:</span>
                                    <span class="text"> {{admin.date_of_birth}}</span>
                                </li>
                                <li>
                                    <span class="title">Address:</span>
                                    <span class="text">{{admin.address}}</span>
                                </li>
                                <li>
                                    <span class="title">Gender:</span>
                                    <span class="text">{{admin.gender}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
</div>
{% endblock content %}