﻿{% extends 'Cow/dash_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
<title>Cows</title>
{% endblock title %}

{% block content %}
  <a href="{% url 'Refresh' %}">Refresh</a>
<div class="row">
    <div class="col-8">
        <div class="card">
            kundre <br>
            kundre <br>
            kundre <br>

        </div>
        
    </div>
    <div class="col-4">
        <div class="card">
            kundre <br>
            kundre <br>
            kundre <br>
            kundre <br>
            kundre <br>
            kundre <br>
        </div>
        
    </div>
    <div class="col-8 flex" >
        <div class="card">
            kundre <br>
            kundre <br>
            kundre <br>

        </div>
        
    </div>
    <div class="col-4">
        <div class="card">
            kundre <br>
            kundre <br>
            kundre <br>
            kundre <br>
            kundre <br>
            kundre <br>
        </div>
        
    </div>
</div>
   

{% endblock content %}

       

