{% extends 'Cow/dash_base.html' %}
{% load widget_tweaks %}

{% block title %}
<title>Stock Entry</title>
{% endblock title %}



{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message.tags}}!</strong> {{message}} 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
{%endif%}
<div class="row">
    <div class="col-sm-8 col-5">
        <h4 class="page-title">Feed Stock Entry</h4>
    </div>
    <div class="col-sm-4 col-7 text-right m-b-30">
        <a href="{% url 'Add_feed_stock_entry' %}" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Feed Stock Entry</a>
    </div>
</div>
<form action="" method="get">
<div class="row filter-row">
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus select-focus">
            <label class="focus-label">Feed</label>
            {% render_field feed_entry_filter.form.feed class="form-control floating " %} 
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus select-focus">
            <label class="focus-label">Supplier</label>
            {% render_field feed_entry_filter.form.supplier class="form-control floating " %} 
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus select-focus">
            <label class="focus-label">Date</label>
            <div class="cal-icon">
            <!-- <input type="text" class="form-control floating"> -->
            {% render_field feed_entry_filter.form.date class="form-control floating datetimepicker" %}
           </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus select-focus">
            <label class="focus-label">From</label>
            <div class="cal-icon">
                <input name="start_date" class="form-control floating datetimepicker" type="text">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus select-focus">
            <label class="focus-label">To</label>
            <div class="cal-icon">
                <input name="end_date" class="form-control floating datetimepicker" type="text">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <input type="submit" class="btn btn-success btn-block" value="Search"> 
    </div>
</div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 ">
                <thead>
                    <tr>
                        <th>Feed</th>
                        <th>Supplier</th>
                        <th>Purchase Date</th>
                        <th class="text-left"> Bags</th>
                        <th>Quantity (Kg)</th>
                        <th>Rate</th>
                        <th class="text-center">Amount</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for entry in feed_entry_filter.qs  %}
                    <tr>
                        <td>
                            <strong>{{entry.feed}}</strong>
                        </td>
                        <td>{{entry.supplier}}</td>
                        <td>{{entry.date}}</td>
                        <td>{{entry.bags}}</td>
                        <td>{{entry.quantity}}</td>
                        <td>{{entry.feed_rate}}</td>
                        <td class="text-center">{{entry.payment}}</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'Feed_stock_entry_update' entry.id %}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a onclick="f2(this.id); return false;" id="{{entry.id}}" class="dropdown-item" href="#" data-toggle="modal" on data-target="#delete_record"><i class="fa fa-trash-o m-r-5"></i> Delete</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                        
                   
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}
{% block javascript %}
<script>
    var record_id = ''
    function f2(r_id){
        record_id = r_id;

    }
    function f1(){ 
        document.getElementById("delete_a").href =  "/admin_dashboard/feed/stock-entry/delete/"+window.record_id+"/"
    }
</script>
{% endblock javascript %}